{% extends 'base.html.twig' %}

{% block title %}Sprzedaj grę{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Zaproponuj</button>
    {{ form_end(form) }}
{% endblock %}
