{% extends 'base.html.twig' %}

{% block title %}Hello LendGameController!{% endblock %}

{% block body %}
    <div class="col-12">
        <h2>Wypożycz grę</h2>
        <br/>
        <p>Sprawdź, czy gra, którą chcesz wypożyczyć znajduje się na naszej liście. <br />
            Pamiętaj, że wypożyczenie gry kosztuje 20zł za miesiąc!</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Wypożycz grę</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
